<div class="allwrapper">

  <%= render "shared/header" %>

  <div class="main-container">
    <%= render "shared/main_sub" %>
    <div class="main-content">
    article update_done.html<br>
    編集が完了しました。<br>
    <%= link_to "トップページへ戻る", "/", class:"hoge" %>
    </div>
  </div>

  <%= render "shared/footer" %>

</div>