<div class="allwrapper">

  <%= render "shared/header" %>

  <div class="main-container">
    <%= render "shared/main_sub" %>
    <div class="main-content">
    456
    </div>
  </div>

  <%= render "shared/footer" %>

</div>