  <div class="header-container">
    <div class="header-content">
      <div class="header-left">
        <div class="header-title">
          <%= link_to "TWIQ", "/", class:"header-title-text" %>
        </div>
        <div class="search-content">       
        </div>
      </div>
      <div class="header-right">
      </div>      
    </div>
    <%# <div class="header-bottom-content">
    </div> %>
  </div>